<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Minimal Django File Upload Example</title>	
	</head>

	<body>
		<!-- List of uploaded documents -->
		{% if documents %}
			<ul>
			{% for document in documents %}
				<li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
               <li><a href="{{ document.img.url }}">{{ document.img.name }}</a></li>
            {% endfor %}



			</ul>
		{% else %}
			<p>No documents.</p>
		{% endif %}

		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url "list" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>

				{{ form.docfile.errors }}
				{{ form.docfile }}
            <p>{{ form.img.label_tag }} {{ form.img.help_text }}</p>
                {{ form.img }}
            <p> {{ form.genre }} </p>
                {{ form.title }}
                {{ form.up }}
                {{ form.down }}

			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>

	</body>

</html> 